.card{
      margin-top: 100px;
}

.card-items-title{
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
      align-items: center;
      color: gray;
      font-size: max(1vw,12px);
}

.card-items-item{
      margin: 10px 0px;
      color: rgb(0, 0, 0);
}



.card-items-item img{
      width: 50px;
}

.card hr{
      height: 1px;
      background-color: #e2e2e2;
      border: none;
}

.card-items-item .cross{
      cursor: pointer;
      color: rgb(242, 45, 10);
}

/* card pay part promo cord */

.card-bottom{
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      gap: max(12vw, 20px);
}

.card-totals{
      flex: 1px;
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.card-totlal-details{
      display: flex;
      justify-content: space-between;
      color: #555;

}

.card-totals hr{
      margin: 10px 0px;
      
}

.card-totals button{
      border: none;
      color: white;
      background-color: tomato;
      width: max(15vw,200px);
      padding: 12px 0px;
      border-radius: 4px;
      cursor: pointer;
}

.card-promocode{
      flex: 1;
}

.card-promocode p{
      color: #555 ;
}

.card-promocode-input{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eaeaea;
      border-radius: 4px;
}
.card-promocode-input input{
      background: transparent;
      border: none;
      outline: none ;
      padding-left: 10px;
}

.card-promocode-input button{
      width: max(10vw, 150px);
      padding: 12px 5px;
      background-color: black;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;

}

@media (max-width:750px) {
      .card-bottom{
            flex-direction: column-reverse;
      }
      .card-promocode{
            justify-content: start;
      }
}
